.mercadopago-container {
  height: 100vh;
  width: 100%;
  z-index: 100;

}

.mercadopago-container > .form-box {
  width: 50%;
  margin: 0;
  align-self: flex-end;

}
.mercadopago-container button{
 background-color: green;
 margin: 0;
}

.mercadopago-container > .form-box p{
  margin-bottom: 20px;
  text-align: center;
}
.mercadopago-container > .form-box input{
  width: 100%;
  margin-bottom: 20px;
}
.loading{
  font-size: 40px;
  color: white;
}
.checkout-page{
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
@media only screen and (max-width: 480px) {

  .mercadopago-container {
    height: auto;
    width: 100%;
    padding: 0%;
    z-index: 100;
  }

  .mercadopago-container iframe{
    height: 80svh;
    width: 100%;
    padding: 0%;
    z-index: 100;
  }
  
  .mercadopago-container  iframe + button{
    height: 5svh;
    width: 100%;
    padding: 0%;
    z-index: 100;
  }
  
  .mercadopago-container > .loading{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .mercadopago-container > .form-box {
    height: auto;
    width: 100%;
    padding: 5vh 0;
  }
  .mercadopago-container > .form-box form {
    width: auto;
     margin: 0;
     
    }
  .mercadopago-container > .form-box button {
    width: auto;
        
    }
  .mercadopago-container > .form-box p{
    margin-bottom: 20px;
    text-align: center;
  }


}
