  /* Book List Container */
  .book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }

@media (max-width: 480px) {

  .book-list{
    display: flex;
    width: 100%;
  }
}