.logo-bar{
    position: absolute;
    top: 20px;
    width: 100vw;
    padding: 0px 110px;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
  }
.logo-bar img{
    width: 80px;
    margin-right: 5px;
    }
