.form-box{
    height: 90vh;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: white;
  }
  .form-box form{
    width: 100%;
    padding: 0px 32px;
  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .form-box form label{
    font: 400 15px/21px 'Rubik', sans-serif;
    margin-top: 31px;
    color: #484848;
    margin-bottom: 0px;
  }
  .form-box form input{
    height: 45px; 
    padding: 5px;
  
    border: 1px solid #555555;
    border-radius: 5px;
    
    font: 400 18px/21px 'Rubik', sans-serif;
  
    background: #FFFFFF;
  }
  .form-box form button{
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .form-box > span{
  text-decoration: none;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #7B61FF;

  }
  a{
    all: unset;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-top: 10px;
  
    cursor: pointer;
  }
  form a {
    all: unset;
    color: black;
    all: unset;
    width: 100%;
    height: 52px;
    width: 100%;
    background: #7978D9;
    border-radius: 5px;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  
    cursor: pointer;

    color: white;
}
form a button{
  all: unset;
}
  .error-message{
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    text-align: center;
  }
 .btn-login {
    all: unset;
    color: black;
    all: unset;
    width: 100%;
    height: 52px;
    width: 80%;
    background: #7978D9;
    border-radius: 5px;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  
    cursor: pointer;

    color: white;
}